@{
    ViewData["Title"] = "Home Page";
}

<div id="container">
    <h1><i class="fa fa-home"></i> Welcome</h1>
    <p>This is just the public start page of this application. To start editing and displaying the latest visits you can <br />
    <a asp-controller="Home" asp-action="Login"><b>login here</b></a> with your created admin email and the default user password "<b>admin</b>".</p>
</div>
