@model VisitorStatistics.Models.Config

<h1>
    <i class="fa fa-cog"></i> Settings
</h1>

<div class="wrapper">
    <input class="radio" id="one" name="group" type="radio" checked>
    <input class="radio" id="two" name="group" type="radio">
    <input class="radio" id="three" name="group" type="radio">
    <div class="tabs">
        <label class="tab" id="tab-one" for="one">Admin settings</label>
        <label class="tab" id="tab-two" for="two">Application settings</label>
        <label class="tab" id="tab-three" for="three">Visit settings</label>
    </div>
    <div class="panels">

        <!-- START PANEL ONE: Admin settings. -->
        <partial name="~/Views/Shared/_AdminSettings.cshtml" model="@Model" />

        <!-- START PANEL TWO: Application settings. -->
        <partial name="~/Views/Shared/_AppSettings.cshtml" model="@Model" />

        <!-- START PANEL THREE: Visit settings. -->
        <partial name="~/Views/Shared/_VisitSettings.cshtml" model="@Model" />

    </div>
</div>